@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

:root {
  --base-spacing-unit: 24px;
  --half-spacing-unit: calc(var(--base-spacing-unit) / 2);
  --color-alpha: #1772FF;
  --color-form-highlight: #EEEEEE;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.swaheader__text {
  color: white;
}

.swaallschedulebody {
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.swacontainer {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.swatable {
  width: 150%;
  border: 1px solid var(--color-form-highlight);
  margin-left: 10%;
  margin-top: -20%;
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
}

.swatable-header,
.swatable-row {
  display: flex;
  width: 285%; /* Adjusted width for better responsiveness */
  padding: calc(var(--half-spacing-unit) * 1.5) 0;
  padding-left: 
  100px;
}
.swatable-header {
  background: black; /* Set the background color to black */
  width: 285%;
}

.swatable-row {
  &:nth-of-type(odd) {
    background: var(--color-form-highlight);
    align-items: center;
  }
}

.swatable-data,
.swaheader__item,
.swaheader__item1 {
  flex: 1 1 15%;
  text-align: left;
  margin-left: 10px;
  width: 100px;
}

.swaheader__item,
.swaheader__item1 {
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 15px; /* Adjusted margin for better spacing */
}

.swafilter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: var(--base-spacing-unit);
  padding-right: var(--base-spacing-unit);

  &::after {
    content: '';
    position: absolute;
    right: calc(-1 * var(--half-spacing-unit) * 1.5);
    color: white;
    font-size: var(--half-spacing-unit);
    top: 50%;
    transform: translateY(-50%);
  }

  &.desc::after {
    content: '(desc)';
  }

  &.asc::after {
    content: '(asc)';
  }
}

.swaadminschedule-button {
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    background-color: rgb(61, 198, 210);
}

.swaadminschedule-button:hover {
    background-color: rgb(38, 160, 225);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .swatable-header,
  .swatable-row {
    flex-direction: column;

  }

  .swaheader__item,
  .swaheader__item1,
  .swatable-data {
    flex: 1 0 auto;
    width: auto;
    text-align: center;
    margin: 5px;
  }
}
