/* PrivacyPolicy.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
/*   
  h1 {
    color: #333;;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    margin-top: 30px;
  }
   */
  /* p {
    line-height: 1.6;
  }
  
  a {
    color: #1e90ff;
  }
  
  a:hover {
    text-decoration: underline;
  } */
  
 
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    .privacy-policy {
      padding:20px;
}
}
