.request-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .reqbutton-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .ssbutton {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1a1919;
    color: #fff;
    outline: none;
  }
  
  .ssbutton.active {
    background-color: #1a1919;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
  }
  
  /* input[type="text"],
  textarea {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1a1919;
    color: #fff;
    outline:none;
  }
  .ssinput
  { 
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  